In [1]:
import numpy as np
import pandas as pd

In [2]:
result =[]
filepath = 'data_202106.tsv'
import codecs
with codecs.open(filepath,'rb','gb18030',errors='ignore') as csvfile:
    for line in csvfile:
        temp1=line.split('\t')
        result.append(temp1)
#将读取的list转换成dataframe类型
df=pd.DataFrame(result)
#准备更改列名
a=[]
for i in range(21):
    a.append(df.iloc[0][i])
print(a)
df.columns=a
df.drop([0,1],inplace = True)
#清除无关信息
df.drop(columns=['DATA_MONTH','BRAND_ID','BRAND_NAME','ITEM_SALES_AMOUNT','ITEM_FAV_NUM', 'TOTAL_EVAL_NUM', 'ITEM_STOCK','ITEM_DELIVERY_PLACE', 'ITEM_PROD_PLACE','ITEM_PARAM','USER_ID','SHOP_NAME\r\n'],inplace=True)
#空字符串即“ ”（一个或多个空格），但在excel表格里其实是看不出来，pandas也把它当成有值进行操作
#正则匹配空格替换 其中\s表示空白字符，匹配任何空白字符，包括空格、制表符、换页符等
df.replace(to_replace=r'^\s*$',value='Nan',regex=True,inplace=True)

In [2]:
# df[['ITEM_ID','CATE_NAME_LV1', 'CATE_NAME_LV2', 'CATE_NAME_LV3', 'CATE_NAME_LV4', 'CATE_NAME_LV5']].iloc[0:7]

In [ ]:
#每列其中唯一的属性值
genres1=np.unique(df['CATE_NAME_LV1'])
genres2=np.unique(df['CATE_NAME_LV2'])
genres3=np.unique(df['CATE_NAME_LV3'])
genres4=np.unique(df['CATE_NAME_LV4'])
genres5=np.unique(df['CATE_NAME_LV5'])

In [ ]:
#字符串编码
from sklearn.preprocessing import LabelEncoder
gle=LabelEncoder()
genre_labels1=gle.fit_transform(df['CATE_NAME_LV1'])
genre_labels2=gle.fit_transform(df['CATE_NAME_LV2'])
genre_labels3=gle.fit_transform(df['CATE_NAME_LV3'])
genre_labels4=gle.fit_transform(df['CATE_NAME_LV4'])
genre_labels5=gle.fit_transform(df['CATE_NAME_LV5'])
df['Label1']=genre_labels1
df['Label2']=genre_labels2
df['Label3']=genre_labels3
df['Label4']=genre_labels4
df['Label5']=genre_labels5

In [1]:
# df[['ITEM_ID','Label1','Label2','Label3','Label4','Label5']].iloc[0:7]

In [15]:
df.to_csv('June1.csv')

In [31]:
data=pd.read_csv('September2.csv')

In [32]:
index=data['label']!=7
data=data[index]

In [33]:
data.iloc[0:3]

     Unnamed: 0       ITEM_ID  label
61           61  654904234776      9
293         293  655213643696      8
314         314  655204760254      8

In [34]:
for i in range(data.shape[0]):
    if(data.iloc[i,2]==8):
        data.iloc[i,2]='价格异常'
    else:
        data.iloc[i,2]='销量异常'

In [35]:
data.to_csv('September2.csv')